.clearfix::after{   
    content: '';
    display: block;
    clear: both;
}

body{
    background-color: #EFEFEF;
    color: black;
    margin: 0;
}

a{
    text-decoration: none;
}

.topNavBar{
    padding: 25px 4px 25px 4px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topNavBar nav{
    float: right;
}

.topNavBar a{
    float: left;
    font-size: 29px;
    margin-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.topNavBar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav ul li{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 13px;
}

.topNavBar nav ul li>a{
    color: #C9CBCE;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: bold;
    border-top: 4px solid transparent;
    border-bottom:  3px solid transparent;
    display: block;
}

.topNavBar nav ul li>a:hover{
    border-bottom: 3px solid #E8676B;
}

.rs{
    color: #E8676B;
}

.topNavBar .topNarBar-inner{
    padding: 0 16px;
}

.topNavBar .logo .card{
    color: #9A9DA2; 
}

.banner{
    height: 515px;
    background-image: url(./img/wallhaven-389493.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 40%);
}

.userCard{
    border: 1px solid red;
    background: white;
    
}

.userCard img{
    float: left;
}

.userCard .text{
    float: left;
    margin-left: 65px;
    width: 472px;
}

.userCard{
    background-color: #FFFFFF;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.userCard dl dt,
.userCard dl dd{
    float: left;
    padding: 6px 0;
}
.userCard dl dt{
    width: 25%;
    font-weight: bold;
}

.userCard dl dd{
    width: 75%;
    color: #9DA0A7;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    margin-bottom: 7px;
}