body{
    background-color: black;
    color: white;
    margin: 0;
}


.clearfix::after{   
    content: '';
    display: block;
    clear: both;
}

a{
    color: inherit;
    text-decoration: none;
}

.topNavBar{
    padding: 18px 0 18px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topNarBar-inner{
    padding: 0 16px;
}   

.topNavBar .logo{
    font-size: 30px;
    color: #E8676B;
    font-family: "Berlin Sans FB Demi";
    font-weight: bold;
}

.topNavBar .logo .rs{
    color: #E8676B;
    margin-right: 3px;
}

.topNavBar .logo .card{
    color: #9A9DA2;
}

.topNavBar a{
    float: left;
}

.topNavBar nav{
    float: right
}

.topNavBar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav ul>li{
    float: left;
    margin-left: 22px;
    margin-right: 22px;
}

.topNavBar nav ul li>a{
    font-size: 12px;
    color: #C3C5C7;
    font-weight: bold;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding-top: 16px;
    padding-bottom: 8px;
    display: block;
}

.topNavBar nav ul li>a:hover{
    border-bottom: 4px solid #E8676B
}

.banner{
    height: 515px;
    background-image: url(./img/wallhaven-389493.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask{
    height: 515px;
    background-color: rgba( 0, 0, 0, 0.4);
}