body{
    background-color: #EFEFEF;
    margin: 0;
}


.clearfix::after{   
    content: '';
    display: block;
    clear: both;
}

a{
    color: inherit;
    text-decoration: none;
}

hr{
    height: 0;
    border: none;
    border-top:1px solid #DEDEDE;
}

.topNavBar{
    padding: 18px 0 18px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topNarBar-inner{
    padding: 0 16px;
}   

.topNavBar .logo{
    font-size: 30px;
    color: #E8676B;
    font-family: "Berlin Sans FB Demi";
    font-weight: bold;
}

.topNavBar .logo .rs{
    color: #E8676B;
    margin-right: 3px;
}

.topNavBar .logo .card{
    color: #9A9DA2;
}

.topNavBar a{
    float: left;
}

.topNavBar nav{
    float: right
}

.topNavBar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav ul>li{
    float: left;
    margin-left: 22px;
    margin-right: 22px;
}

.topNavBar nav ul li>a{
    font-size: 12px;
    color: #C3C5C7;
    font-weight: bold;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding-top: 16px;
    padding-bottom: 8px;
    display: block;
}

.topNavBar nav ul li>a:hover{
    border-bottom: 4px solid #E8676B
}

.banner{
    height: 515px;
    background-image: url(./img/wallhaven-389493.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask{
    height: 515px;
    background-color: rgba( 0, 0, 0, 0.4);
}
.userCard{
    border: 1px solid red;
    background-color: #FFFFFF;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.userCard .welcome{
    background-color: #E8676B;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    line-height: 22px;
    position: relative;
    font-weight: bold;
    margin-bottom: 38px;
}

.userCard .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #E8676B;
    border-top-width:0px;
    position: absolute;
    left: 5px;
    top: 100%;
}

.userCard .picture{
    float: left;
}

.userCard .text{
    float: left;
    margin-left: 65px;
    width: 472px;
}

.userCard .text hr{
    margin: 24px 0;
}

.userCard .pictureAndtext{
    padding: 73px 0 0 65px;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    margin-bottom: 7px;
}


.userCard dl dt,
.userCard dl dd{
    float: left;
    padding: 6px 0;
}

.userCard dl dt{
    width: 25%;
    font-weight: bold;
}

.userCard dl dd{
    width: 75%;
    color: #9DA0A7;
}

.userCard .media{
    background-color: #E8676B;
}